<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>
      <br>
      <h2>Wikis</h2>
      <br>

<!-- signed in user -->
      <% if(currentUser) { %>
        <a href="/wikis/new" class="btn btn-success">New Wiki</a>
      <% } %>
<!-- signed in user is admin or premium -->
      <% if(currentUser) { %>
        <% if(currentUser._isAdmin() || currentUser._isPremium()) { %>
        <a href="/wikis/private" class="btn btn-success">New Private Wiki</a>
        <% } %>
      <% } %>



<!-- signed in as admin or premium user -->
      <% if(currentUser) { %>
        <% wikis.forEach((wiki) => {
          if(currentUser._isAdmin() || currentUser._isPremium() || wikiCollaborations.includes(wiki.id) && (currentUser.access == true) && wiki.private == true) { %>
  <!-- list wiki items -->
            <li class="list-group-item">
              <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
            </li>
          <% } %>
       <% }) %>
     <% } %>
    </ul>


    <ul class="list-group">
<!-- not signed in user -->
    <% wikis.forEach((wiki) => {
       if(wiki.private == false) { %>
         <li class="list-group-item">
           <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
         </li>
       <% } %>
    <% }) %>
   </ul>
  </main>
    <br>
    <br>
  </body>
</html>
